.description-obtained{
    text-align: justify;
    padding: 30px;
}
.description-obtained > p{
    color: #0366D6;
}
.description-obtained > ul > li {
    position: relative;
    padding-left: 15px;
    list-style-type: none;
}
.description-obtained > ul > li::before {
    content: '•';
    position: absolute;
    left: 0;
    font-size: 1.2em;
    color: #0366D6;
}
.data-title{
    padding: 0 30px 30px;
}
.example-to_scrapp{
    text-align: justify;
    padding: 15px 30px 15px 30px;
}
.example-to_scrapp > p > strong > a{
    color: #0366D6;
    text-decoration: underline;
}


.form-zone{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.download-zone{
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
}
.input_perse, .submit_btn , .btn_to_download{
    padding: 7px;
}
.inc-data{    
    width: 100%;
    height: auto;
    background: #E5F0F4;
    text-align: justify;
}
.inc-data > p {    
    text-align: center;
    padding-top: 15px;
    text-decoration:underline;
    color: #0366D6;
}
table{
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
}
th,td{
    width: 70vw;
    padding: 15px;
    border: 1px solid #000;
    display: block;
    overflow-wrap: break-word;
    text-shadow: 0 0 black;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.28);
}
.inc-data table tr td:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.inc-data table tr td:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.loadingIcon{
    align-items: center;
    display: none;
    padding: 30px 0 30px 0;
    justify-content: center;

}
.textLoading{
    color:white;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.loader {
    border: 4px solid #bdf5f5; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #5AA8A6;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
        box-shadow: 1px 3px 5px #5AA8A6;
    }
    100% { 
        transform: rotate(360deg); 
        box-shadow: 1px 3px 5px #5AA8A6;
    }  
}
.textLoading{
    text-align: center;
}