/*
Colores:
azulsito: #5AA8A6
naranja: #ED694C
gris muy claro: #E5F0F4
blanco 
azul fuerte: #0366D6
*/

#header-container{
    background: #E5F0F4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#header-container > div.header-logo > a > img{
    width: 100px;
}